body{
    background-color: bisque;
    color: darkblue;
}
h2 {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
}
#start-button {
    color: darkblue;
    background-color: lightgray;
}
.btn:focus, .btn:active, .btn:visited {
    outline: none;
    box-shadow: none;
    background-color: gray;
}
#finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
span {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
#questionTitle {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
